:root {
  --darkBlue: hsl(240, 38%, 20%);
  --grayBlue: hsl(240, 18%, 77%);
}

body {
  font-family: Inter, sans-serif;
  color: var(--darkBlue);
  box-sizing: border-box;
  font-weight: 300;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.testimonial__quote--author {
  font-weight: 700;
}

.testimonial__quote--author--job {
  color: var(--grayBlue);
}

.testimonial__picture--1,
.testimonial__picture--2 {
  border-radius: 5px;
}

.curve__svg--container {
  display: flex;
  justify-content: start;
  align-items: start;
  position: absolute;
  bottom: 0;
  left: -50%;
}

.curve__svg {
  transform: scale(0.5);
}

@media (max-width: 600px) {
  .container {
    padding: 5% 5%;
    height: 90%;
    width: 90%;
  }

  .testimonial__container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 10%;
  }

  .testimonial__quote {
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .testimonial__quote--svg {
    transform: scale(0.5);
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.9;
  }

  .testimonial__quote--1,
  .testimonial__quote--2 {
    position: relative;
    width: 100%;
  }

  .testimonial__picture--container {
    background-image: url("./images/pattern-bg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .testimonial__picture {
    position: relative;
    width: 70%;
  }

  .testimonial__picture--1,
  .testimonial__picture--2 {
    box-shadow: -20px 60px 30px -30px var(--grayBlue);
    width: 100%;
    height: 100%;
  }

  .slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background: white;
    height: 40px;
    width: 80px;
    border-radius: 20px;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .slider__prev,
  .slider__next {
    transform: scale(0.7);
  }
}

.hide {
  display: none;
}
